.style-dialog-content {
  form {
    .form-row {
      display: block;
    }
    .form-label {
      font-weight: bold;

      .form-check {
        display: inline-block;
      }
    }
  }

  .bg-image {
    height: 160px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 12px;
  }
}