
.social-accounts {
  @include editable-control;
  display: flex;
  justify-content: center;
  margin-bottom: 22px;

  .social-button {
    align-items: center;
    background: lighten($blue, 2);
    border-radius: 50%;
    display: flex;
    height: 40px;
    justify-content: center;
    width: 40px;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &.not-set {
      background: lighten($blue, 22);
    }

    svg {
      color: white;
      height: 22px;
      width: 22px;
    }
  }

  &.edit-mode {
    margin-bottom: 14px;
  }
}

