.profile-name {
  @include editable-control;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 8px;
  text-align: center;

  &.not-set {
    color: #bbbbbb;
  }

  &.edit-mode {
    margin-bottom: 0;
  }
}