.main-wrapper-profile {
  height: 100%;
  overflow: hidden;
  position: relative;

  .inner-wrapper {
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }

  .profile-box {
    background: #fff;
    border-radius: 16px;
    box-shadow: $box-shadow;
    font-size: 80%;
    margin: 40px auto 40px auto;
    padding: 14px;
    position: relative;
    width: 95%;
    z-index: 2;

    @media (min-width: map-get($grid-breakpoints, "sm")) {
      width: 500px;
      padding: 26px;
      margin: 180px auto 180px auto;
      font-size: 100%;
    }
  }
}