.profile-image {
  background-color: #f1f1f1;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  box-shadow: $box-shadow;
  height: 140px;
  margin: 0 auto 16px auto;
  width: 140px;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    color: #bbbbbb;
    width: 60px;
    height: 60px;
    opacity: 0.5;
  }
}