.welcome-wrapper {
  margin: auto;
  width: 900px;

  .form-title {
    color: #333740;
  }

  .form-sub-title {
    font-size: 1.3em;
    font-weight: 500;
  }

  .form-input {
    margin-bottom: 12px;
  }

  .form-controls {
    button {
      margin-right: 10px;
    }
  }
}