
.edit-btn {
  align-items: center;
  background: #e8e8e8;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  height: 32px;
  justify-content: center;
  position: absolute;
  right: -16px;
  top: -16px;
  width: 32px;

  svg {
    color: #666;
    height: 18px;
    width: 18px;
  }
}