.extra-menu {
  display: flex;
  justify-content: center;

  .dropdown-toggle {
    width: 30px;
    overflow: hidden;
    border: none;
    padding: 0;
    color: $gray-500;

    &:hover, &:focus {
      color: $gray-400;
    }

    &:after {
      border: none;
    }

    svg {
      width: 30px;
      height: 30px;
    }
  }
}
