.home-wrapper {
  margin: auto;
  width: 900px;

  .content {

    .showcase {
      background: #c4c4c4;
      border-radius: 12px;
      float: left;
      height: 500px;
      width: 400px;
    }

    .text-content {
      float: right;
      width: 470px;

      .main-title {
        color: #333740;
        margin-bottom: 30px;
      }

      .description {
        font-size: 1.6em;
        margin-bottom: 40px;
      }

      .login-btn{
        align-items: center;
        background: #230D2E;
        border-radius: 6px;
        color: #EAEAEA;
        cursor: pointer;
        display: flex;
        font-family:  'M PLUS Rounded 1c', sans-serif;
        font-size: 1.3em;
        font-weight: 600;
        margin-bottom: 30px;
        padding: 6px;
        width: 320px;

        .bl-icon{
          height: 50px;
          margin-right: 10px;
        }
      }
    }
  }
}