/* Additional components */

// Custom modal
.modal.drawer {
  .modal-dialog {
    background-color: rgba(255, 255, 255, 0.9);
    height: 100%;
    margin: auto;
    position: fixed;
    transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    -webkit-transform: translate3d(0%, 0, 0);
    width: 90%;

    @media (min-width: $sm-break) {
      width: 320px;
    }

  }

  .modal-content {
    background: transparent;
    border: none;
    border-radius: 0;
    height: 100%;
  }

  .modal-body {
    border: none;
    border-right: 1px solid #d8d8d8;
    padding: 15px 15px 80px;
  }

  .modal-header {
    align-items: center;
    background: darken($dark, 10);
    border: none;
    border-radius: 0 !important;
    color: $navbar-dark-color;
    flex-shrink: 0;
    height: 107px;
    padding: 0 10px;

    .close {
      color: $navbar-dark-color;
    }
  }

  .modal-footer {
    border: none;
    border-right: 1px solid #ccc;
  }

  &.fade .modal-dialog {
    left: -320px;
    transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
  }

  &.show .modal-dialog {
    left: 0;
  }
}

.drawer-backdrop {
  opacity: 0 !important;
}

// Error messages
._error-message {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 99999;

  ._message {
    background: #bf0000;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    color: lighten(#bf0000, 50);
    display: block;
    margin: auto;
    max-width: 500px;
    padding: 10px;
    text-align: center;
    width: 90%;
  }
}