@mixin editable-control {
  padding: 4px;
  position: relative;

  &.not-set {
    color: #d6d6d6;
  }

  &.edit-mode {
    border: 4px solid transparent;
    padding: 0;

    &:hover {
      border: 4px dashed #e3e3e3;
      .edit-btn {
        display: flex;
      }
    }
  }
}