@import 'bootstrap';

@import './mixins';
@import './components';

$box-shadow: 0 0 5px 2px rgba(134, 134, 134, 0.15);

html, body {
  height: 100%;
  position: absolute;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

@import '../containers/home/index';
@import '../containers/editor/index';
@import '../containers/profile/index';

@import '../components/profile-bg/index';
@import '../components/profile-image/index';
@import '../components/profile-name/index';
@import '../components/profile-description/index';
@import '../components/profile-bio/index';
@import '../components/social-accounts/index';
@import '../components/wallet-accounts/index';

@import '../components/dialogs/settings/index';
@import '../components/dialogs/style/index';
@import '../components/dialogs/image-select/index';
@import '../components/dialogs/bio-edit/index';
@import '../components/dialogs/account-edit/index';

@import '../components/elements/spinner/index';