@import 'bootstrap';
@import '../containers/home/index';
@import '../containers/editor/index';

$box-shadow: 0 0 5px 2px rgba(134, 134, 134, 0.15);

html, body {
  height: 100%;
  position: absolute;
  width: 100%;
}

.header {
  align-items: center;
  display: flex;
  height: 200px;

  .lander-logo {
    color: #fff;
    filter: drop-shadow(-3px 3px 0 #d73865) drop-shadow(3px -3px 0 #4a96f7);
    font-size: 90px;
    font-weight: 700;
  }
}

#root {
  height: 100%;
  width: 100%;
}

.main-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  min-height: 610px;
  overflow: hidden;
  position: relative;
}



.profile-box {
  background: #fff;
  border-radius: 16px;
  box-shadow: $box-shadow;
  height: 600px;
  margin: auto;
  padding: 26px;
  position: relative;
  width: 500px;
  z-index: 2;





  .social-accounts {

  }


  .wallet-accounts {

  }
}

@import '../components/profile-bg/index';
@import '../components/profile-image/index';
@import '../components/profile-name/index';
@import '../components/profile-description/index';