@import 'bootstrap';
@import '~react-input-range/src/scss/index.scss';

$primary-width: 500px;
$box-shadow: 0 0 5px 2px rgba(134, 134, 134, 0.15);
$sm-break: map-get($grid-breakpoints, "sm");
$md-break: map-get($grid-breakpoints, "md");
$lg-break: map-get($grid-breakpoints, "lg");
$xl-break: map-get($grid-breakpoints, "xl");

@import './mixins';
@import './components';

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  position: absolute;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

.not-found-error {
  margin: 60px 0 0 0;
  text-align: center;

  h1 {
    color: #fff;
    filter: drop-shadow(-3px 3px 0 #d73865) drop-shadow(3px -3px 0 #4a96f7);
    font-size: 90px;
    font-weight: 700;
    margin: 0;
  }
}

.main-wrapper, .main-wrapper-profile {
  height: 100%;
  overflow: hidden;
  position: relative;

  .inner-wrapper {
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-overflow-scrolling: touch;
  }

  .profile-header {
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
  }

  .profile-box {
    background: #fff;
    border-radius: 16px;
    box-shadow: $box-shadow;
    font-size: 80%;
    margin: 60px auto 0 auto;
    padding: 14px;
    position: relative;
    width: 95%;
    z-index: 2;

    @media (min-width: $sm-break) {
      width: $primary-width;
      padding: 26px;
      font-size: 100%;
    }
  }
}

.main-wrapper-profile {
  .profile-box {
    @media (min-width: $sm-break) {
      margin: 180px auto 0 auto;
    }
  }
}

@import '../components/pages/home/index';
@import '../components/pages/app/profile-editor/index';
@import '../components/pages/app/profile-editor/extra-menu';
@import '../components/pages/app/welcome/index';
@import '../components/pages/profile/index';
@import '../components/pages/app/auth/index';

@import '../components/pages/app/shared/navbar/index';

@import '../components/profile-bg/index';
@import '../components/profile-photo/index';
@import '../components/profile-name/index';
@import '../components/profile-description/index';
@import '../components/profile-bio/index';
@import '../components/social-accounts/index';
@import '../components/wallet-accounts/index';

@import '../components/dialogs/settings/index';
@import '../components/dialogs/style/index';
@import '../components/dialogs/image-select/index';
@import '../components/dialogs/photo-upload/index';
@import '../components/dialogs/name-edit/index';
@import '../components/dialogs/description-edit/index';
@import '../components/dialogs/bio-edit/index';
@import '../components/dialogs/social-account-edit/index';
@import '../components/dialogs/wallet-edit/index';
@import '../components/dialogs/share/index';
@import '../components/dialogs/alias-edit/index';

@import '../components/elements/spinner/index';
@import '../components/elements/edit-btn/index';
@import '../components/elements/tour/index';
@import '../components/elements/profile-c2a/index';
