.home-wrapper {

  .navbar {
    background: transparent !important;

    a.nav-link {
      color: $gray-700 !important;

      &:hover {
        color: $gray-600 !important;
      }

      @media (min-width: $md-break) {
        &:not(:last-child) {
          margin-right: 20px;
        }
      }
    }
  }

  .section-container {
    margin: auto;
    max-width: 1200px;
    position: relative;
  }

  .section-container-footer {
    max-width: 900px;
  }

  .intro {
    background: lighten($primary, 34);
    margin-bottom: 40px;

    @media (min-width: $md-break) {
      height: 500px;
      margin-bottom: 80px;
    }

    @media (min-width: $lg-break) {
      margin-bottom: 120px;
    }

    .showcase {
      background: #fff;
      border-radius: 6px;
      box-shadow: $box-shadow;
      display: none;
      height: 484px;
      left: 20px;
      overflow: hidden;
      position: absolute;
      top: 40px;
      width: 360px;

      @media (min-width: $md-break) {
        display: block;
      }

      @media (min-width: $lg-break) {
        height: 534px;
        width: 400px;
      }

      .showcase-header {
        align-items: center;
        background: #A5C5E2;
        display: flex;
        height: 34px;
        padding-left: 8px;

        .address-bar {
          align-items: center;
          background: #fff;
          border-radius: 6px;
          color: #4e5d6b;
          display: flex;
          font-size: 12px;
          height: 24px;
          padding-left: 8px;
          width: 300px;
        }
      }

      .showcase-content {
        background: #f7f7f7;

        height: 450px;
        width: 360px;

        @media (min-width: $lg-break) {
          height: 500px;
          width: 400px;
        }

        img {
          height: 100%;
          width: 100%;
        }
      }

      user-select: none;
    }

    .intro-content {
      padding: 20px 10px;
      text-align: center;

      @media (min-width: $md-break) {
        padding: 40px 20px 0 440px;
        text-align: left;
      }

      @media (min-width: $lg-break) {
        padding: 60px 20px 0 480px;
      }

      .main-title {
        color: #333740;
        font-size: 1.8em;
        margin-bottom: 20px;

        @media (min-width: $lg-break) {
          font-size: 2.2em;
          margin-bottom: 30px;
        }
      }

      .description {
        font-size: 1.3em;
        margin-bottom: 30px;

        @media (min-width: $lg-break) {
          font-size: 1.8em;
          margin-bottom: 40px;
        }
      }

      .btn-login {
        @include button-variant(#471b5e, #230D2E, #401854);
        align-items: center;
        display: inline-flex;
        margin-bottom: 4px;

        .bl-icon {
          height: 40px;
          margin-right: 2px;
        }
      }

      .what-is-blockstack {
        a {
          color: $primary !important;
          font-size: 86%;
        }
      }
    }
  }

  .features {
    margin-bottom: 30px;
    padding: 0 20px;

    .section-header {
      margin-bottom: 40px;

      h2 {
        border-bottom: 4px solid lighten($primary, 26);
        color: $gray-700;
        display: inline-block;
        font-size: 1.4em;
        margin: 0;
        padding-bottom: 6px;

        @media (min-width: $md-break) {
          font-size: 1.8em;
        }
      }
    }

    .feature-list {
      .feature {
        margin-bottom: 30px;

        .icon {
          float: left;
          width: 70px;
          svg {
            height: 50px;
            width: 50px;
          }
        }

        .content {
          float: right;
          width: calc(100% - 70px);

          .title {
            font-size: 120%;
            font-weight: 600;
            margin-bottom: 4px;
          }

          .text {
            color: $gray-600;
          }
        }
      }
    }
  }

  .get-started {
    background: #e7eaec;
    border-bottom: 2px solid lighten($primary, 16);
    margin-bottom: 40px;
    padding: 20px;
    text-align: center;

    .section-header {
      margin-bottom: 20px;

      h2 {
        color: $gray-800;
        font-size: 1.4em;
        font-weight: 700;
        margin: 0;

        @media (min-width: $md-break) {
          font-size: 1.8em;
        }
      }
    }

    .get-started-video {
      background: #666;
      display: inline-block;
      height: 190px;
      width: 280px;

      @media (min-width: $md-break) {
        height: 300px;
        width: 400px;
      }
    }
  }

  .footer {
    margin-bottom: 20px;
    padding: 0 20px;

    @media (min-width: $md-break) {
      margin-bottom: 40px;
    }

    .footer-menu {
      margin-bottom: 20px;
      .menu-header {
        color: $gray-600;
        font-size: 1em;
        font-weight: 600;
        margin-bottom: 10px;
      }

      .menu-item {
        font-size: 0.9em;
        margin-bottom: 10px;

        a {
          color: $gray-600 !important;
        }
      }
    }

    .social-menu {

      .social-link {
        color: $gray-500 !important;

        &:not(:last-child) {
          margin-right: 20px;
        }
        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
