
.profile-bio {
  color: #adadad;
  font-size: 1.1em;
  font-weight: 400;
  margin-bottom: 16px;
  text-align: center;
  word-break: break-word;

  p {
    margin-bottom: 6px;
  }

  @include editable-control;
}
