.tour-guide {

  padding: 20px 30px 10px 20px;

  .guide-text {
    text-align: center;
    margin: 20px 0 0 0;

    h3 {
      font-size: 1.4em;
      margin-bottom: 24px;
    }

    p {
      font-size: 1em;
      margin: 12px 0;
    }

    .btns {
      margin: 20px 0;

      .btn {
        font-size:95%;
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }
  }

  button:focus {
    outline: 0;
  }

}