
.wallet-accounts {
  @include editable-control;
  margin-top: 12px;

  .wallet-account {
    background-color: #f8f8f8;
    padding: 6px;
    align-items: center;
    display: flex;
    border-radius: $border-radius;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    .icon {
      width: 32px;
      flex-grow: 0;
      margin-right: 10px;
      svg {
        color: #67707a;
        width: 24px;
        height: 24px;
      }
    }

    .address {
      width: calc(100% - 42px);
      font-family: $font-family-monospace;
      font-size: 0.8em;
      overflow: hidden;
    }
  }
}
