
.editor-header {
  width: 100%;

  .navbar {
    .public-link {
      svg {
        color: #ced4da;
        height: 22px;
        width: 22px;
      }
    }

    @media (max-width: $sm-break) {
      .navbar-nav {
        .nav-item {
          a {
            font-weight: 700;
          }
        }
      }
    }
  }

  .info-nav {
    align-items: center;
    background: #495057;
    display: flex;
    height: 50px;
    justify-content: center;
    padding: 6px;

    .info-content {
      align-items: center;
      display: flex;
      font-size: 13px;
      justify-content: space-between;
      margin: auto;
      max-width: $primary-width;
      width: 100%;

      @media (min-width: $sm-break) {
        font-size: 1rem;
      }

      .info-msg {
        color: #ced4da;
        margin: 0;
        text-align: center;
      }
    }

    .user-address {
      color: #ced4da;
      display: inline-block;
      font-size: 13px;
      max-width: $primary-width;
      overflow: hidden;
      text-align: center;
      text-decoration: underline;
      width: 100%;

      &:hover {
        text-decoration: none;
      }

      @media (min-width: $sm-break) {
        font-size: 1rem;
      }
    }
  }

  .second-nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: $primary-width;
    width: 98%;

    @media (min-width: $sm-break) {
      width: $primary-width;
    }
  }

  .btn-preview, .btn-style, .btn-preview-off {
    align-items: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: flex;

    svg {
      height: 16px;
      margin-right: 6px;
      width: 16px;
    }
  }

  .btn-preview-off {
    border-bottom-left-radius: 0;
  }
}

