.main-wrapper-editor {
  height: 100%;
  overflow: hidden;
  position: relative;

  .inner-wrapper {
    height: 100%;
    left: 0;
    min-width: 700px;
    overflow-y: auto;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .profile-box {
    background: #fff;
    border-radius: 16px;
    box-shadow: $box-shadow;
    margin: 180px auto 100px auto;
    padding: 22px;
    position: relative;
    width: 500px;
    z-index: 2;
  }
}

.editor-header {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  .public-link {
    svg {
      color: #ced4da;
      height: 22px;
      width: 22px;
    }
  }

  .info-nav {
    background: #495057;
    padding: 6px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .info-content {
      align-items: center;
      display: flex;
      justify-content: space-between;
      margin: auto;
      width: 500px;

      .info-msg {
        color: #ced4da;
        margin: 0;
        text-align: center;
      }

      .info-controls {

      }
    }

    .user-address {
      color: #ced4da;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }

  .second-nav {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 500px;

    .btn {

    }
  }

  .btn-preview, .btn-style, .btn-preview-off {
    align-items: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: flex;

    svg {
      height: 16px;
      margin-right: 6px;
      width: 16px;
    }
  }

  .btn-preview-off {
    border-bottom-left-radius: 0;
  }
}

