.profile-c2a {
  align-items: center;
  background: #fff;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: $box-shadow;
  display: flex;
  height: 50px;
  overflow: hidden;
  padding-left: 10px;
  width: 40px;
  position: absolute;
  right: 0;
  top: 0;

  .logo {
    height: 30px;
    margin-right: 10px;
    width: 30px;
  }
}
